@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Raleway:wght@300;600&display=swap');

:root{
--red: #a20021;
--pink: #f2d7d7;
--brown: #8f421a;
--black: #02111b;
--white: #faf6f5;
}
body {
    font-family: "Raleway";
    font-weight: 300;
}

#logo {
    height: 60px;
    width: 60px;
    float: left;
}
h1 {
    font-family: "Elsie Swash Caps";
    color: var(--black);
}
h2 {
    font-family: "Raleway";
    font-weight: 300;
    background-color: var(--pink);
    color: var(--brown);
} 

/* The hero image */
.hero-image {
    background-image: url(../images/rooftop.jpeg);
    height: 500px;
    background-size: cover;
    background-position: center;
}
/* background */
.main-bg{
    background-color: var(--pink);
}

#date-input, #date-results {
    min-height: 200px;
}

#foodBtn, #drinkBtn {
    margin-top: 5px;
    width: 100%;
    font-family: Raleway;
    font-weight: 600;
    background-color: var(--brown);
    color: var(--white);
}
/* footer styles */
footer {
    font-size: 20px;
    max-height: 50px;
}

