@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Raleway:wght@300&display=swap');

:root{
--red: #a20021;
--pink: #f2d7d7;
--brown: #8f421a;
--black: #02111b;
--white: #faf6f5;
}

#logo {
    height: 60px;
    width: 60px;
    float: left;
}
.header h1, .hero-image h2 {
    font-family: "Elsie Swash Caps";
    
}

/* The hero image */
.hero-image {
    background-image: url(../images/rooftop.jpeg);
    height: 500px;
    background-size: cover;
    background-position: center;
}

#date-input {
    height: 200px;
    border: 2px solid black;
    margin: 25px 25px 25px;
}
#date-results {
    min-height: 200px;
    border: 2px solid black;
    margin: 25px 25px 25px;
    overflow:auto;
}
/* 
img{
    max-height: 100%;
    max-width: 100%;
} */

strong{
    display: block;
}

ul{
    display: inline-block;
    border:red solid 1px;
    margin: 4px;
}
